{{> header}}

<div class="container">
    {{#each products}}
    <div class="row justify-content-evenly m-3">
        <div class="col-5 shadow-lg p-5 bg-light">
            <img src="/products/{{product_image}}" class="img-fluid" alt="">
        </div>
        <div class="col-5 shadow-lg p-5 bg-light">
            <h3 class="text-center">{{product_name}}</h3>
            <p class="text-center">{{product_detail}}</p>
            <p class="text-center"><b>Price : &#x20b9; {{product_price}}</b></p>
            <p class="text-center">Quantity : {{product_qty}}</p>
            <p class="text-center">Category : {{product_category.category_name}}</p>



            <div class="text-center">
                <a class="btn btn-success" href="/admin/edit-product/{{_id}}">Buy Now</a>

            </div>




        </div>

    </div>

    {{/each}}




</div>

{{> footer}}