<table class="table">

    <tbody>
        <tr>
            <th>First Name</th>
            <th scope="col">{{user.firstname}}</th>
        </tr>
        <tr>
            <th>Last Name</th>
            <th scope="col">{{user.lastname}}</th>
        </tr>
        <tr>
            <th>Gender</th>
            <th scope="col">{{user.gender}}</th>
        </tr>
        <tr>
            <th>Address</th>
            <th scope="col">{{user.address}}</th>
        </tr>
        <tr>
            <th>Interest</th>
            <th scope="col">{{user.interest}}</th>
        </tr>
        <tr>
            <th>Hobbies</th>
            <th scope="col">{{user.hobbies}}</th>
        </tr>

        <tr>
            <th>Image</th>
            <th scope="col"><img src="/img/{{user.image}}" alt="" width="50" height="50" /></th>
        </tr>

    </tbody>
</table>